
html, body {
    margin: 0;
    height: 100%;
}

body{
	background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.6) 100%), url("background.jpg");
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#input_box{
	position: absolute;
	top: 10%;
	left: 10%;
	width: 50%;
	height: 50px;
	font-size: 1em;
}

#submit_input{
	position: absolute;
	top: 12%;
	left: 62%;
	height: 30px;
	width: 100px;
	font-size: 0.9em;
}

#inserted_ingr{
	position: absolute;
	top: 20%;
	left: 10%;
	font-size: 1.3em;
}

#ingr_list{
	position: absolute;
	top: 40px;
}

#class{
	position: absolute;
	top: 20%;
	left: 40%;
	font-size: 1.3em;
}

#add_ingr{
	position: absolute;
	top: 20%;
	left: 60%;
	font-size: 1.3em;
}

#ingr_checkbox{
	position: absolute;
	top: 40px;
}

#submit_check{
	position: absolute;
	top: 160px;
	right: -20px;
	height: 30px;
	width: 100px;
	font-size: 0.7em;
}

#reset{
	position: absolute;
	top: 12%;
	left: 80%;
	height: 30px;
	width: 100px;
	font-size: 0.9em;
}

#plate_descr{
	position: absolute;
	top: 90%;
	left: 10%;
	font-size: 1.5em;
}

#plate_clas{
	position: absolute;
	top: 90%;
	left: 35%;
	font-size: 1.5em;
}

#plate_img{
	position: absolute;
	top: 90%;
	left: 70%;
	height: 50px;
	width: 50px;
}
