
html, body {
    margin: 0;
    height: 100%;
}

body{
	background-color: blue;
	background-image: url("background.jpg");
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

h1{
	font-size: 3em;
	color: darkblue;
	position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#match_ingr{
	font-size: 1.5em;
	padding: 10px;
    text-align: center;
    border: solid darkblue 3px;
    background-color: blanchedalmond;
	height: 65px;
    width: 25%;
	position: absolute;
	left: 10%;
	bottom: 20%;
}

#similar_plates{
	font-size: 1.5em;
	padding: 10px;
    text-align: center;
	border: solid darkblue 3px;
    background-color: blanchedalmond;
	height: 65px;
    width: 25%;
	position: absolute;
	right: 10%;
	bottom: 20%;
}