<!doctype html>
<html lang = "es">

<head>
    <meta charset="utf-8">
    <title>match ingredients</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=devide-width, initial-scale=1">
	<link href= "{{ url_for('static',filename='styles/design_match_ingr.css') }}" rel= "stylesheet" type= "text/css">
</head>

<body>
	<form method="POST">
	<input name="submit_ingr" placeholder="inserta ingredientes" id="input_box">
	<input type="submit" value="submitir" id="submit_input">
	
	{% if ingr_list == null %}
	
	{% else %}
	
		<div id="inserted_ingr"> 
			<p><b>Ingredientes insertados:</b></p>
			<ul id="ingr_list">
				{% for ingr in ingr_list %} 
				<li>
					{{ ingr }} 
				</li> 
				{% endfor %}
			</ul>
		</div>
		
		<p id="class"><b>Clasificación:</b> <br><br> {{ classification }}</p>
		
		<div id="add_ingr">
			<p><b>Ingredientes que van bien con ellos:</b></p>
			<ul id="ingr_checkbox">
				{% for ingr in new_ingr_list %} 
				<li>
					<input type="checkbox" name="check_ingr" value={{ ingr }}><label> {{ ingr }} </label> 
				</li> 
				{% endfor %}
			</ul>
			<input type="submit" value="submitir" id="submit_check">
		</div>
		
		<a href="http://35.196.86.56/8000/reset"><input type="button" value="resetear" id="reset"></a>
		
		<ul id="plate_descr">
			{% for el,url in plate_descr %} 
				<li>
					<a href={{url}}>{{ el }}</a>
				</li> 
			{% endfor %}
		</ul>
		
		<ul id="plate_clas">
			{% for el in plate_clas %} 
				<li>
					{{ el }} 
				</li> 
			{% endfor %}
		</ul>
		
		<ul id="plate_img">
			{% for el in plate_img %} 
				<li>
					<img src={{ el }}>
				</li> 
			{% endfor %}
		</ul>

	{% endif %}
	</form>	
	
</body>
