<!doctype html>
<html lang = "es">

<head>
    <meta charset="utf-8">
    <title>HTML5 Grundgerüst...</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=devide-width, initial-scale=1">
	<link href= "{{ url_for('static',filename='styles/design4.css') }}" rel= "stylesheet" type= "text/css">
</head>

<body>
	HI
</body>