<!doctype html>
<html lang = "es">

<head>
    <meta charset="utf-8">
    <title>Inicio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=devide-width, initial-scale=1">
	<link href= "{{ url_for('static',filename='styles/design_startpage.css') }}" rel= "stylesheet" type= "text/css">
</head>

<body>

	<h1> algún tipo de título </h1>
	<p id="match_ingr">
		<a href="http://35.196.86.56:8000/match_ingr">Busca combinaciones para tus ingredientes</a>
	</p>
	<p id="similar_plates">
		<a href="http://35.196.86.56:8000/similar_plates">Busca platos de diferentes países</a>
	</p>
</body>
